html,body{
	width:100%;
	color:#000;
	font-family: "微软雅黑";
}
header{
	width:100%;
	height:2rem;
	font-size:0.6rem;
	text-align:center;
	line-height:2rem;
	font-weight:600;
	border-bottom:1px solid #ccc;
	position:fixed;
}
header .incar{
	height:1rem;
	width:2.2rem;
	float:right;
	margin-right:0.2rem;
	margin-top:0.6rem;
	position:relative;

}
header .incar img{
	height:100%;
}
header .incar .num{
	display:block;
	width:0.6rem;
	height:0.6rem;
	border-radius:50%;
	background:#ff2d4b;
	position:absolute;
	top:-0.25rem;
	right:0.25rem;
	color:#fff;
	text-align:center;
	line-height:0.6rem;
	display:none;
	font-weight:100;
	font-size: 0.5rem;
}
header .back{
	float:left;
	width:0.4rem;
	height:0.7rem;
	margin-left:0.66rem;
	margin-top:0.62rem;
}
header .back img{
	width:100%;
}
#list{
	height:1.8rem;
	width:100%;
	position:fixed;
	top:2rem;
	z-index: 1;
}
#list .don{
	animation: rota 0.5s  linear both;
}
#list .dong{
	animation: rotat 0.5s  linear both;
}

@keyframes rota{
	0%{transform:rotate(0)}
	100%{transform:rotate(180deg)}
}
@keyframes rotat{
	0%{transform:rotate(180deg)}
	100%{transform:rotate(360deg)}
}
#list .bo{
	height:1.8rem;
	width:100%;
	border-bottom:1px solid #ccc;
	overflow: hidden;
}

#list .down{
	text-align:center;
	float:right;
	width:1.5rem;
	margin-top:0.5rem;
	margin-right:0.2rem;
}
#list .down img{
	width:0.7rem;
	height:0.4rem;
	margin-top:0.2rem;
}
#list .li{
	float:left;
	height:1.65rem;
	width:14rem;
	margin-left:0.3rem;
}
#list li{
	color:#666;
	float:left;
	width:2.3rem;
	height:100%;
	text-align:center;
	line-height:1.65rem;
	
}
#list .li li:nth-of-type(1){
	border-bottom:0.15rem solid red;
	color:#ff9ca0;
}
#list .lis li:nth-of-type(1){
	background:#ffa3a6;
	color:#fff;
}
#list .lis{
	height:3.6rem;
	width:100%;
	display:none;
	background:#fff;
}
#list .lis li{
	width:3.2rem;
	height:1.2rem;
	line-height:1.2rem;
	background:#ddd;
	border-radius:0.3rem;
	margin-top:0.3rem;
	margin-left:0.6rem;
}
#box{
	width:100%;
	position:absolute;	
	background:#fff;
}
#cov{
	width:100%;
	height:88%;
	position:fixed;
	overflow:hidden;
	top:3.8rem;
	display:-webkit-box;
	-moz-box-orient: vertical;
}
#cov .boom{
	width:100%;
	height:2.5rem;
	text-align: center;
	line-height:2rem;
	font-size:0.35rem;
	display:none;
	
}
#cov .boom ul{
	height:1rem;
	width:3rem;
	margin:0 auto;
}
#cov .boom ul li{
	float:left;
	width:0.3rem;
	height:0.3rem;
	margin-top:0.5rem;
	margin-left:0.2rem;
	border-radius:50%;
	background:#ff2d4b;
	
}
#cov .boom ul li:nth-of-type(1){
	animation: beng 0.5s 0.1s linear infinite;
}
#cov .boom ul li:nth-of-type(2){
	animation: beng 0.5s 0.3s linear infinite;
}
#cov .boom ul li:nth-of-type(3){
	animation: beng 0.5s 0.5s linear infinite;
}
@keyframes beng{
	0%{transform: translateY(0);}
	100%{transform: translateY(-0.2rem);}
}
#cov .boom p{
	margin-left:36%;
	height:1rem;
	line-height:1rem;
	text-align:left;
}
#box dl{
	margin-left:0.3rem;
	margin-top:0.3rem;
	float:left;
	width:6.86rem;
	border:1px solid #ccc;
	height:11.4rem;
	padding:0.3rem;
}
#box dl dt{
	width:100%;
	height:7.3rem;
	-webkit-box-flex: 1;
}
#box dl dt img{
	width:100%;
}
#box dl dd{
	width:100%;
	height:2rem;
	font-size:0.6rem;
}
#box dl dd:nth-of-type(1){
	padding-bottom:0.2rem;
	border-bottom:1px solid #ccc;
	font-weight:300;
	line-height:1rem;
	overflow: hidden;
	
}
#box dl dd:nth-of-type(2) p{
	float:left;
	color:#ff2d4b;
	width:5.3rem;
	overflow: hidden;
	height:100%;
	line-height:1.9rem;
	font-size:0.7rem;
}
#box dl dd:nth-of-type(2) p span{
	color:#ccc;
	margin-left:0.3rem;
	line-height:2rem;
	font-size:0.6rem;
	text-decoration: line-through;
}
#box dl dd:nth-of-type(2) .car{
	width:1.15rem;
	height:1.15rem;
	margin-top:0.45rem;
	margin-right:0.2rem;
	float:right;
}
#box dl dd:nth-of-type(2) .car img{
	width:100%;
}
#up{
	display:none;
	position:fixed;
	bottom:1rem;
	right:1rem;
	width:1.5rem;
	height:1.5rem;
	border-radius:50%;
	background:url(../img/up.gif) no-repeat;
	background-size:100% 100%;
}
.end{
	width:100%;
	height:1rem;
	line-height:1rem;
	text-align:center;
	display:none;
	position:fixed;
	bottom:0;
	left:0;
	z-index: -1;
	color: #999;
}
