html,body{
	width:100%;
	height:100%;
}

header{
	position:relative;
	width:100%;
	height:8rem;
	background:url(../img/wo.jpg);
	background-size:100%;
}
header .car{
	display:block;
	position:absolute;
	top:1%;
	right:1%;
	width:2rem;
	height:2rem;
	border-radius:50%;
	
}
header .dl{
	display:block;
	position:absolute;
	top:73%;
	right:56%;
	width:1.5rem;
	height:0.77rem;	
}
header .zc{
	display:block;
	position:absolute;
	top:73%;
	right:35%;
	width:1.6rem;
	height:0.8rem;
}
header .name{
	width:100%;
	height:39%;
	text-align:center;
	position:absolute;
	background:url(../img/bk_log.jpg) no-repeat;
	background-size: 100% 100%;
	font-size:0.8rem;
	line-height:1rem;
	bottom: 0;
	/*border-radius: 1rem;*/
	color: #fff;
	display: none;
	line-height: 186%;
}
#content{
	width:100%;
	height:18.2rem;
	background:url(../img/page.jpg) no-repeat;
	background-size:100% 100%;
}
footer{
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	height:2.1rem;
	background:#f8f8f8;
	overflow:hidden;
	border-top:1px solid #e2e2e2;
	}
footer ul{
	width:100%;
	height:100%;
	display:-webkit-box;
	display:-moz-box;
}
footer ul li{
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	text-align:center;
}
footer ul li img{
	height:0.9rem;
	margin-top:0.2rem;
}
footer ul li p{
	text-align:center;
	width:100%;
	height:1rem;
	font-size:0.7rem;
	line-height:1rem;
	color:#353535;
	/*font-weight:600;*/
}
footer ul li:nth-of-type(4) p{
	color:#ff2d4b;
}
footer ul li.aa a{
	text-decoration: none;
}
