body,html{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #f3f4f5;
}
/*===================================zhuce_header===================================*/
#zhuce_header{
	width: 100%;
	height: 2.5rem;
	background: url(../img/zhuce-1.jpg) no-repeat;
	background-size: 100% 100%;
	border-bottom: 1px solid #ccc;
}
#zhuce_header a{
	display: block;
	height: 2.32rem;
	width: 2.32rem;
	background: red;
	opacity: 0;
	filter: alpha(opacity=0);
}
/*=====================================#zhuce_form===================================*/
#zhuce_form{
	width: 100%;
	height: 9.2rem;
}
#zhuce_form .down{
	width: 95.5%;
	height: 2.6rem;
	padding-left: 4.5%;
	line-height: 2.4rem;
	background: #fff;
	position: relative;
}

#zhuce_form .down span{
	margin-right: 7.3%;
}
#zhuce_form .down span.yanzm{
	margin-right: 11%;
}
#zhuce_form .down input{
	width: 52%;
	height: 100%;
	font-size: .6rem;
}
#zhuce_form .down:nth-child(1) {
	margin:  0.6rem 0;
	
}
#zhuce_form .down:nth-child(2) {
	margin-bottom:  .13rem;	
}
#zhuce_form .down i{
	display: block;
	position: absolute;
	height:100%;
	width: 8.8%;
	right: 0;
	top: 0;
	background: url(../img/zhuce-3.jpg) no-repeat;
	background-size: 100% 100%;
}
#zhuce_form .down .getyzm{
	background: none;
	background:#f0f0f0 ;
	width: 25.8%;
	border-radius: 5px;
	height: 1.5rem;
	margin:  .55rem;
	text-align: center;
	line-height: 1.5rem;
	font-family: "微软雅黑";
	position: absolute;
	right: 0;
	top: 0;
}
/*================================rigister-rig===========================*/
#rigister-rig{
	width: 88%;
	margin: 0 6%;
	height: 5.95rem;
	line-height:2rem ;
	text-align: center;
	margin-top: 5.3%;
}
#rigister-rig .rig{
	height: 1rem;
	border: 1px solid #ff3451;
	color: #ff3451;
	display: block;
	margin-top: .3rem;
	line-height: 1rem;
	padding: .1rem .62rem;
	border-radius: 5px;
}
#rigister-rig .rig hover{
	text-decoration: none;
	
}
/*================================#zhuce_btn===================================*/
#zhuce-btn{
	width: 88%;
	height: 2.2rem;
	background: #e0e0e1;
	margin: 0 6%;
	border-radius: 5px;
	text-align: center;
	line-height: 2.2rem;
	color: #999;
}
/*================================zhuce-btm===========================*/
#zhuce-btm{
	width: 100%;
	height: 5.95rem;
	line-height: 3rem;
	padding-left:3%;
	color: #737474;
}